<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acaron</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adotbelow</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccedillaacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>O</string>
      <string>Q</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
      <string>Dlinebelow</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>Ebreve</string>
      <string>Ecedillabreve</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edotbelow</string>
      <string>Ehookabove</string>
      <string>Einvertedbreve</string>
      <string>Emacronacute</string>
      <string>Emacrongrave</string>
      <string>Etilde</string>
      <string>OE</string>
      <string>AEacute</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>M</string>
      <string>N</string>
      <string>Eng</string>
      <string>Nhookleft</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
      <string>J.ss01</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>Oslash</string>
      <string>Schwa</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>Thorn</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Germandbls</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>DZcaron</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>a.ss01</string>
    </array>
    <key>public.kern1.ae</key>
    <array>
      <string>ae</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>ohorn</string>
      <string>oslash</string>
      <string>p</string>
      <string>thorn</string>
      <string>germandbls</string>
      <string>schwa</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
    </array>
    <key>public.kern1.caron</key>
    <array>
      <string>dcaron</string>
      <string>lcaron</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>eng</string>
      <string>nhookleft</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>fi</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>j</string>
      <string>jdotless</string>
      <string>f_f_i</string>
      <string>f_f_ij</string>
      <string>f_ij</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kgreenlandic</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>f_f_l</string>
      <string>fl</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uhorn</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>zero.zero</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acaron</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adotbelow</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccedillaacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Eng</string>
      <string>Nhookleft</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>DZcaron</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
      <string>Dlinebelow</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecedillabreve</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Einvertedbreve</string>
      <string>Emacron</string>
      <string>Emacronacute</string>
      <string>Emacrongrave</string>
      <string>Eogonek</string>
      <string>Etilde</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>J.ss01</string>
    </array>
    <key>public.kern2.L</key>
    <array>
      <string>Lslash</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>Oslash</string>
      <string>OE</string>
      <string>Schwa</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.ae</key>
    <array>
      <string>ae</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>kgreenlandic</string>
      <string>l</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>a</string>
      <string>c</string>
      <string>d</string>
      <string>eth</string>
      <string>e</string>
      <string>o</string>
      <string>ohorn</string>
      <string>q</string>
      <string>a.ss01</string>
      <string>schwa</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>germandbls</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_ij</string>
      <string>f_f_l</string>
      <string>f_ij</string>
      <string>fi</string>
      <string>fl</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
      <string>jdotless</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>eng</string>
      <string>r</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>oslash</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uhorn</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
      <string>zero.zero</string>
    </array>
  </dict>
</plist>
