<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>_connection</key>
    <string>_connection.glif</string>
    <key>_connection.round</key>
    <string>_connection.round.glif</string>
    <key>eight-ar</key>
    <string>eight-ar.glif</string>
    <key>four-ar</key>
    <string>four-ar.glif</string>
    <key>kaf-ar.medi</key>
    <string>kaf-ar.medi.glif</string>
    <key>kaf-ar.medi.v2</key>
    <string>kaf-ar.medi.v2.glif</string>
    <key>nine-ar</key>
    <string>nine-ar.glif</string>
    <key>one-ar</key>
    <string>one-ar.glif</string>
    <key>seven-ar</key>
    <string>seven-ar.glif</string>
    <key>shadda-ar</key>
    <string>shadda-ar.glif</string>
    <key>six-ar</key>
    <string>six-ar.glif</string>
    <key>two-ar</key>
    <string>two-ar.glif</string>
    <key>wasla-ar</key>
    <string>wasla-ar.glif</string>
    <key>zero-ar</key>
    <string>zero-ar.glif</string>
  </dict>
</plist>
